
    <div class="mt-8 w-full mx-auto rounded-xl bg-gray-100 shadow-lg p-10 text-gray-800 relative overflow-hidden
    resize-x min-w-80 max-w-3xl" x-data="app()" x-init="generatePassword()">
        <div class="relative mt-1">
            <input type="text" id="password" class="w-full pl-3 pr-10 py-2 border-2 border-gray-200 rounded-xl
            hover:border-gray-300 focus:outline-none focus:border-blue-500 transition-colors" placeholder="Rechercher...">
            <button class="block w-7 h-7 text-center text-xl leading-0 absolute top-2 right-2 text-gray-400 focus:outline-none hover:text-gray-900 transition-colors"><i class="mdi mdi-magnify"></i></button>
        </div>
        <div class="absolute top-0 left-0 w-full h-2 flex">
            <div class="h-2 bg-purple-400 flex-1"></div>
        </div>
    </div>
